@charset "utf-8";
html{width: 100%;height: 100%;}
body{background: #ebf0f2;min-width:320px;max-width:540px;width: 100%;height: 100%;}
/**********header************/
.header {
    height: 42px;
    width: 100%;
    background: #fff;
    text-align: center;
    line-height: 42px;
    font-size: 16px;
}
.header>div {
    position: absolute;
    top: 0;
}
.header img {
    margin: 0;
    max-width: 20px;
    padding-top: 0.7rem;
}
.back{left:12px;}
.cloce {left: 53px;}
.search{right:12px;}
/********container *********/
.container {
    background-color: #fff;
}
.container>a {
    display: block;
    color: #666;
}

/**********footer***********/
.footer {
    text-align: center;
    font-size: 12px;
    background: #fff;
    height: 50px;
    width: 100%;
    position: fixed;
    bottom: 0;
    min-width: 320px;
    max-width: 540px;
    z-index: 999;
}
.footer_ul li a {
    width: 100%;
    height: 100%;
    display: inline-block;
    color: #666;
}
.footer_ul, .footer_ul li {
    float: left;
    width: 100%;
    height: 100%;
}
.footer_ul li {
    width: 20%;
}
.footer_ul li img {
    max-width: 27%;
}
.div_img {
    margin-top: 4px;
}









