@charset "utf-8";
html{width: 100%;height: 100%;}
body{background: #ebf0f2;min-width:320px;max-width:540px;width: 100%;height: 100%;}
/**********header************/
.header {
    max-width: 64%;
    margin: 0 auto;
    height: 6%;
}
/**********container***********/
.container{height: 88%;}
.container div{width: 80%;}
.logo-img {
    max-width: 63%;
    margin: 0 auto;
    margin-bottom: 1.5rem;
}
.container>form>div {
    width: 88%;
}
.user-pword{
    height: 42px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 0 auto;
    margin-bottom: 8px;
    background-color: #fff;
    position: relative;
}
.user-pword img {
    margin-top: 10px;
    width: 22px;
}
.container .user_div,.container .lock_div {
    width: 42px;
    height: 42px;
    float: left;
    background-color: #dfdfdf;
}
.user-pword form ,.user-pword form input{
    height: 100%;
    float: left;
}
.user-pword input {
    width: 99%;
    font-size: 14px;
    height: 100%;
}
.user-pword input:focus {
    outline: none;
}
.input_div {
    padding-left: 52px;
    height: 100%;
}
.the_login{
	height: 46px;
    border-radius: 6px;
    margin: 0 auto;
    margin-top: 18px;
    text-align: center;
    background: #0fb4ff;
}
.the_login input {
    width: 100%;
    height: 100%;
    background: transparent;
    color: #fff;
}
.assist{
    height: 40px;
    margin: 0 auto;
    text-align: center;
    line-height: 46px;
}
.assist a{color:#0fb4ff;}

/**********footer***********/
.footer {
	height:6%;
    text-align: center;
    font-size: 12px;
    width: 100%;
}
